<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body>
    <% include ../static/partials/navbar.ejs %>
    
    <main class="main-container">
      <% include ../static/partials/messages.ejs %>

      
      <div>
        <% if(currentUser.isPremium() || currentUser.isAdmin()){ %>
    
          <div class="wiki-container">
            <h2 class="bold">Add collaborator</h4>
          
            <form class="extra-margin-bot" action="/collaborators/create" method="post">
              <label class="wiki-input-label bold" for="wikiTitle">Wiki title</label>
              <div class="wiki-input-container">
                <input class="new-wiki-input" type="text" name="wikiTitle" aria-describedby="titleHelp" placeholder="Enter Title">
              </div>  
              <label class="wiki-input-label bold" for="userName">User name</label>
              <div class="wiki-input-container">
                <input class="new-wiki-input" type="text" name="userName" aria-describedby="userHelp" placeholder="Enter User name">
              </div>  
              
              <button class="standard-button" type="submit">Submit</button>
            </form>
          </div>
             
          
          <div class="wiki-container">
            <h2 class="bold">Remove collaborator</h4>
            
            <form class="extra-margin-bot" action="/collaborators/destroy" method="post">
              <label class="wiki-input-label bold" for="wikiTitle">Wiki title</label>
              <div class="wiki-input-container">
                <input class="new-wiki-input" type="text" name="wikiTitle" aria-describedby="titleHelp" placeholder="Enter Title">
              </div>  
              <label class="wiki-input-label bold" for="userName">User name</label>
              <div class="wiki-input-container">
                <input class="new-wiki-input" type="text" name="userName" aria-describedby="userHelp" placeholder="Enter User name">
              </div>  
              
              <button class="standard-button" type="submit">Submit</button>
            </form>
          </div>
        <% } %>
      </div>
    </main>
  </body>
</html>