<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Sendipedia</title>
<link rel="stylesheet" type="text/css" href="/styles/styles.css">
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
<script src="https://js.stripe.com/v3/"></script>