<nav>
    <div>
        <a href="/">Sendipedia</a>
        <div>
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>