<nav class="nav-container">
  <div>
    <a href="/">Sendipedia</a>
    <div>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/users/signup">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
