<nav class="nav-container">
  <div class="logo-link">
    <a href="/">Sendipedia</a>
  </div>
  <ul class="nav-list">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/users/signup">Sign Up</a>
    </li>
  </ul>
</nav>
