<nav class="nav-container">
  <div class="logo-link">
    <a href="/"><!--Sendipedia-->
      <img src="/photos/mountain-logo.jpg" alt="Mountain logo">
    </a>
  </div>
  <ul class="nav-list">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/wikis">Wikis</a>
    </li>
    <% if(currentUser) { %>   
      <li>
        <a href="/users/<%= currentUser.id %>">Account</a>
      </li>
      <li>
          <a href="/users/signout">Sign out</a>
      </li>
  <% } else { %>
      <li>
          <a href="/users/signup">Sign up</a>
      </li>
      <li>
          <a href="/users/signin">Sign in</a>
      </li>
  <% } %>
  </ul>
</nav>
