<% if(currentUser) { %>
  <div class="user-card-container">
    <h3 class="bold" ><%= currentUser.name %></h3>
    <p class="user-role">Account type: <%= currentUser.role %></p>
  </div>
<% } else { %>
  <div class="user-card-container">
    <p class="user-greeting" >Sign in or create an account!</p>
  </div>
<% } %>