<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="main-container">
      <% include ../static/partials/messages.ejs %>

      <h1><%= wiki.title %></h1>
      
      <a href="/wikis">Back</a>

      <% if(currentUser){ %>
        <a href="/wikis/<%= wiki.id %>/edit">Edit</a>
      <% } %>
        
        
      <% console.log('{WIKI SHOW} CURREENT USER: ', currentUser, ' WIKI USER ID: ', wiki.userId); if(currentUser && (currentUser.isAdmin() || currentUser.isOwner(wiki.userId))){ %>
        <form style="display:initial" action="/wikis/<%= wiki.id %>/destroy" method="post">
          <button type="submit">Delete</button>
        </form>
      <% } %>
          
      <p><%= wiki.body %></p>
    </main>
  </body>
</html>