<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>

  <body>
    <% include ./partials/navbar.ejs %>

    <main class="main-container">
      <% include ./partials/messages.ejs %>

      <header class="header-container">
        <h1>~*Sendipedia*~</h1>
        <p>The place to document mountains and rocks, anything climbing.</p>
        <a href="/users/signup">Sign up</a>
      </header>

      <section class="index-info-container">
        <section>
          <h4>Crags</h4>
          <p>
            Help document history and other important information about your
            favorite crag.
          </p>
        </section>

        <section>
          <h4>Sends</h4>
          <p>Proud of your send last week? So are we, share the stoke!</p>
        </section>

        <section>
          <h4>Conservation</h4>
          <p>
            Help us keep the places we love open for everyone. Trail work to
            activism, spread the word.
          </p>
        </section>
      </section>
    </main>
  </body>
</html>
