* {
  display: flex;
  flex-direction: column;
  background-color: rgb(214, 207, 194); 
}

title {
  display: none;
}

.logo-link {
  justify-content: center;
}

.nav-container {
  flex-direction: row;
  background-color: rgb(144, 200, 223);
}

.nav-list {
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid #000;
  width: 900px;
}

.header-container {
  text-align: center;
}

.sign-in-out-container {
  flex-direction: row;
  justify-content: space-evenly;
}

.index-info-container {
  text-align: center;
}