* {
  display: flex;
  flex-direction: column;
  background-color: rgb(214, 207, 194); 
}

title {
  display: none;
}

.logo-link {
  justify-content: center;
}

.nav-container {
  flex-direction: row;
}

.nav-list {
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid #000;
  width: 900px;
}