* {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: rgb(214, 207, 194); 
}

title {
  display: none;
}

.logo-link {
  justify-content: center;
}

.logo-link img {
  max-width: 100%;
  max-height: 100%;
}

.nav-container {
  flex-direction: row;
  border: 1px solid #000;
  background-color: rgb(144, 223, 170);
  max-height: 50px;
  width: auto;
}

.nav-list {
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(144, 223, 170);
  width: 900px;
}

.header-container {
  text-align: center;
}

.sign-in-out-container {
  flex-direction: row;
  justify-content: space-evenly;
}

.index-info-container {
  text-align: center;
}