<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>
    <% include ../static/partials/userCard.ejs %>

    <main>

      <% include ../static/partials/messages.ejs %>

      <h1>Sign in</h1>

      <form action="/users/signin" method="post">

        <div>
          <label for="email">Email</label>
          <input type="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
          <small>email address must be a valid address</small>
        </div>

        <div>
          <label for="password">Password</label>
          <input type="password" name="password" aria-describedby="passwordHelp" placeholder="Enter password">
          <small>password must confirmation below</small>
        </div>

        <button type="submit">Sign in</button>
      </form>
    </main>
  </body>
</html>