<h2>Welcome to Sendipedia</h2>
<a href="/">Home</a>
<div>
    <div>
        <form method="POST" action="/user/signup">
            <div>
                <label>Name:</label>
                <input type="text" name="name" placeholder="Enter Name" />
            </div>
            <div>
                <label>Email:</label>
                <input type="email" name="email" placeholder="Enter Email" />
            </div>
            <div>
                <label>Password:</label>
                <input type="password" name="password" placeholder="Enter Password" />
            </div>
            <div>
                <label>Confirm Password:</label>
                <input type="password" name="password_conf" placeholder="Confirm Password" />
            </div><br />
            <input type="submit" value="Sign Up" />
        </form>
    </div>
</div>