<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="main-container">
      <% include ../static/partials/messages.ejs %>

      <div class="sign-in-container">
        <h2 class="bold">Sign in</h2>
  
        <form class="sign-in-form" action="/users/signin" method="post">
  
          <label class="bold" for="email">Email</label>
          <input type="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
          <small>email address must be a valid address</small>
  
          <label class="bold" for="password">Password</label>
          <input type="password" name="password" aria-describedby="passwordHelp" placeholder="Enter password">
          <small>password must confirmation below</small>

  
          <button class="standard-button sign-in-button" type="submit">Sign in</button>
        </form>
      </div>
    </main>
  </body>
</html>