<% include ../static/partials/head.ejs %>
<h2>Welcome to Sendipedia</h2>
<a href="/">Home</a>
<% include ../static/partials/messages.ejs %>
<div>
    <div>
        <form method="POST" action="/users">
            <div>
                <label for="name">Name:</label>
                <input type="text" name="name" placeholder="Enter Name" />
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" name="email" placeholder="Enter Email" />
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" placeholder="Enter Password" />
            </div>
            <div>
                <label for="passwordConfirmation">Confirm Password:</label>
                <input type="password" name="passwordConfirmation" placeholder="Confirm Password" />
            </div><br />
            <input type="submit" value="Sign Up" />
        </form>
    </div>
</div>