<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="main-container">
      <% include ../static/partials/messages.ejs %>

      <div class="sign-in-container">
        <h2 class="bold">Sign up</h2>
  
        <form class="sign-up-form" method="POST" action="/users">

            <label class="bold" for="name">Name:</label>
            <input type="text" name="name" placeholder="Enter Name" />

            <label class="bold" for="email">Email:</label>
            <input type="email" name="email" placeholder="Enter Email" />

            <label class="bold" for="password">Password:</label>
            <input type="password" name="password" placeholder="Enter Password" />

            <label class="bold" for="passwordConfirmation">Confirm Password:</label>
            <input type="password" name="passwordConfirmation" placeholder="Confirm Password" />

          <button class="standard-button sign-in-button" type="submit" >Sign up</button>
      </form>
      </div>

    </main>
  </body>
</html>