<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main>

      <% include ../static/partials/messages.ejs %>

      <h1>Upgrade to a Premium account</h1>

      <form action="/users/promote" method="post">

        <div>
          <label for="premium">Premium</label>
          <button type="submit">Upgrade account</button>
        </div>

      </form>
      
      <% include ../static/partials/stripe.ejs %>
      
      <h2>Downgrade your account to Standard</h2>

      <form action="/users/demote" method="post">

        <div>
          <label for="standard">Standard</label>
          <button type="submit">Downgrade account</button>
        </div>

      </form>
    </main>
  </body>
</html>